<template id="searching-tpl" src="./tpl.html"></template>

<script>
module.exports = {
    template: '#searching-tpl',

    props: [ 'value' ],

    methods: {
        onInputHandler: function(e) {
            if (e.target.value.length == 0) {
                this.$emit('input', e.target.value);
            }

            if (e.target.value.length > 2) {
                this.$emit('input', e.target.value);
            }
        }
    }
};
</script>