<form class="input-icon my-3 my-lg-0">
    <input type="search" :value="value" @input="onInputHandler" class="form-control header-search" placeholder="Search" tabindex="1">
    <div class="input-icon-addon">
        <i class="fe fe-search"></i>
    </div>
</form>