<template src="./tpl.html"></template>

<script type="text/javascript">
var EndpointComponent = require('../Endpoint/component.vue').default;
var HighlightJsonComponent = require('../HighlightJson/component.vue').default;
var OptionsTableComponent = require('../OptionsTable/component.vue').default;

module.exports = {
    template: '#method-details-tpl',

    props: [ 'item' ],

    data: function() {
        return {
            active: null
        };
    },

    components: {
        'endpoint': EndpointComponent,
        'highlight-json': HighlightJsonComponent,
        'options-table': OptionsTableComponent
    },

    created: function() {
        this.$options.MODE_QUERY = 1;
        this.$options.MODE_FORMDATA = 2;
        this.$options.MODE_URLENCODED = 3;
        this.$options.MODE_RAW = 4;
    },

    methods: {
        isEmpty: function(value) {
            return _.isEmpty(value);
        },

        responseData: function() {
            var originalRequest = this.item.response.length && this.item.response[0].originalRequest;

            if (originalRequest) {
                if (originalRequest.body) {
                    if (originalRequest.body.formdata) {
                        return {
                            mode: this.$options.MODE_FORMDATA,
                            data: originalRequest.body.formdata
                        };
                    }

                    if (originalRequest.body.urlencoded) {
                        return {
                            mode: this.$options.MODE_URLENCODED,
                            data: originalRequest.body.urlencoded
                        };
                    }

                    if (originalRequest.body.raw) {
                        return {
                            mode: this.$options.MODE_RAW,
                            data: originalRequest.body.raw
                        };
                    }
                }

                // if (originalRequest.url.query) {
                    return {
                        mode: this.$options.MODE_QUERY,
                        data: originalRequest.url.query
                    };
                // }
            }

            return null;
        }
    },

    computed: {
        parameters: function() {
            var result = this.item.request.url.query || [];

            if (this.item.request.body) {
                if (this.item.request.body.mode == 'raw') {
                    if (this.item.request.body.raw) {
                        var body = JSON.parse(this.item.request.body.raw);

                        result = _.extend(result, _.map(body, function (value, key) {
                            return {
                                key: key,
                                value: value,
                                type: typeof value
                            }
                        }));
                    }
                }

                if (this.item.request.body.mode == 'formdata' || this.item.request.body.mode == 'urlencoded') {
                    result = _.extend(result, this.item.request.body[this.item.request.body.mode]);
                }
            }

            return result;
        }
    },

    watch: {
        $route: function(to) {
            this.$root.$emit('methodCalled', {name: to.params.name});
        }
    }
};
</script>