<div id="method-details-tpl">
    <div class="card" v-if="!isEmpty(item)">
        <div class="card-header">
            <h3 class="card-title">{{ item.name }}</h3>
        </div>
        <div class="card-body text-muted"><pre>{{ item.request.description || 'No Description' }}</pre></div>
        <div class="card-body">
            <endpoint :method="item.request.method" :url="item.request.url.raw"></endpoint>
        </div>
        <div class="card-body">
            <h4>Headers</h4>
            <table class="table table-borderless" v-if="item.request.header.length > 0">
                <tbody>
                    <tr class="d-flex" v-for="header in item.request.header">
                        <td class="col-6 text-right"><samp><strong>{{ header.key }}</strong></samp></td>
                        <td class="col-6 text-left"><samp>{{ header.value }}</samp></td>
                    </tr>
                </tbody>
            </table>
            <div v-else class="text-orange">No headers using</div>
        </div>
        <div class="card-body" v-if="parameters">
            <h4>Parameters</h4>
            <table class="table" v-if="parameters.length > 0">
                <thead>
                    <tr class="d-flex">
                        <th class="col-3 text-left">Name</th>
                        <th class="col-2 text-center">Type</th>
                        <th class="col-2 text-center">Require</th>
                        <th class="col-5 text-left">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-flex" v-for="param in parameters">
                        <td class="col-3 text-left">{{ param.key }}</td>
                        <td class="col-2 text-center"><tt class="text-cyan">{{ param.type || 'mixed' }}</tt></td>
                        <td class="col-2 text-center"><strong></strong></td>
                        <td class="col-5 text-left text-muted">{{ param.description || 'No description' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="responseData()">
            <div class="card-body">
                <h4>Request Body Example</h4>
                <highlight-json :jsondata="responseData().data" v-if="responseData().mode == $options.MODE_RAW"></highlight-json>
                <options-table v-else :rows="responseData().data"></options-table>
            </div>
            <div class="card-body">
                <h4>Response Example</h4>
                <highlight-json :jsondata="item.response[0].body" v-if="item.response.length > 0"></highlight-json>
                <div v-else class="text-orange">No Response</div>
            </div>
        </div>
        <div class="card-body text-orange" v-else>No Example using</div>
    </div>
</div>