
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#4188c9">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
        <!-- Generated: 2019-04-04 16:55:45 +0200 -->
        <title>API Documentation</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

        <link rel="stylesheet"href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">

        <script src="/assets/js/require.min.js"></script>
        <script>
            requirejs.config({
                    baseUrl: '.'
            });
        </script>
        <!-- Dashboard Core -->
        <link href="/assets/css/dashboard.css" rel="stylesheet" />
        <script src="/assets/js/dashboard.js"></script>
    </head>
    <body class="">
        <div class="page">
            <div class="flex-fill">
                <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg order-lg-first">
                                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                                    <li class="nav-item">
                                        <a href="/" class="nav-link active"><i class="fe fe-home"></i> API Documentation</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="d-flex ml-auto">
                                <div class="nav-item dropdown d-none d-md-flex">
                                  <a data-toggle="dropdown" class="btn btn-sm btn-outline-primary" target="_blank">Download Postman Sources</a>

                                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a href="/dist/collection.json" class="dropdown-item d-flex">
                                      <span class="mr-3 align-self-center"><i class="fe fe-download"></i></span>
                                      <div>
                                        <strong>collection.js</strong>
                                        <div class="small text-muted">Postman JSON Collection</div>
                                      </div>
                                    </a>
                                    <a href="/dist/environment.json" class="dropdown-item d-flex">
                                      <span class="mr-3 align-self-center"><i class="fe fe-download"></i></span>
                                      <div>
                                        <strong>environment.js</strong>
                                        <div class="small text-muted">Postman JSON Environment</div>
                                      </div>
                                    </a>
                                </div>

                              </div>
                              </div>


                        </div>
                    </div>
                </div>
                <div class="my-3 my-md-5">
                    <div class="container" id="vue-app">
                        <div class="row" v-if="methodsList">
                            <div class="col-4">
                                <searching v-model="searchKeyword"></searching>
                                <hr>
                                <methods-list :list="methodsList" :filter-by-keyword="searchKeyword" :item="activeMethodItem"></methods-list>
                            </div>
                            <div class="col-8">
                                <method-details :item="activeMethodItem"></method-details>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="container">
                </div>
            </div>
        </div>

        <script>
            // hljs.initHighlighting();
        </script>

        <script src="/dist/apidoc.bundle.js"></script>
    </body>
</html>