<div v-if="rows">
    <table class="table table-hover" v-if="rows.length > 0">
        <tbody>
            <tr class="d-flex" v-for="option in rows">
                <td class="text-right col-6"><strong>{{ option.key }}</strong></td>
                <td class="text-left col-6">{{ option.value }}</td>
            </tr>
        </tbody>
    </table>
</div>