<template id="highlight-tpl" src="./tpl.html"></template>

<script>
var hljs = require('highlight.js/lib/highlight');
var langJSON = require('highlight.js/lib/languages/json.js');

hljs.registerLanguage('json', langJSON);

hljs.configure({
    tabReplace: '  '
});

module.exports = {
    tpl: '#highlight-tpl',

    props: [ 'jsondata' ],

    mounted: function() {
        // hljs.highlightBlock(this.$el);
    },
};
</script>