<template src="./tpl.html"></template>

<script>
var helpers = require('./../../helpers.js');

module.exports = {
    tpl: '#endpoint-tpl',

    props: [ 'method', 'url' ],

    created: function() {
    },

    methods: {
        getTagClass: function() {
            var mapping = {
                'GET' : 'tag-lime',
                'POST' : 'tag-orange',
                'PUT' : 'tag-azure',
                'PATCH' : 'tag-blue',
                'DELETE' : 'tag-gray',
            };

            return mapping[this.method];
        },

        getUrl: function() {
            return helpers.compile(this.url, this.$store.state.env);
        }
    }
}
</script>