<template src="./tpl.html"></template>

<script type="text/javascript">
module.exports = {
    template: '#methods-list-tpl',

    props: [ 'list', 'filter-by-keyword', 'item' ],

    data: function() {
        return {
            active: this.item.name
        };
    },

    methods: {
        activateMethod: function(name) {
            this.active = name;
        }
    },

    mounted: function() {
        this.$root.$on('methodCalled', function(payload) {
            this.activateMethod(payload.name);
        }.bind(this));
    },

    computed: {
        groupedList: function() {
            var result = [];
            var _list = this.list;

            if (this.filterByKeyword) {
                _list = this.list.filter(function(item) {
                    var name = item.name
                    var description = item.request.description || '';
                    var regexp = new RegExp(this.filterByKeyword, 'gi');

                    return regexp.test(name) || regexp.test(description);
                }.bind(this));
            }

            for (var i = 0; i < _list.length; i++) {
                if (!_.find(result, { name: _list[i].group })) {
                    result.push({
                        name: _list[i].group,
                        methods: []
                    });
                }

                var groupIndex = _.findIndex(result, { name: _list[i].group });

                result[groupIndex].methods.push(_list[i].name);
            }

            return result;
        }
    }
};
</script>