<div id="methods-list-tpl">
    <div class="list-group list-group-transparent mb-0" v-for="groupItem in groupedList">
        <h4 class="mt-2 mb-1">{{ groupItem.name }}</h4>
        <router-link :to="'/method/' + item" class="list-group-item list-group-item-action" :class="{'active' : active == item}" v-for="item in groupItem.methods">
            <span class="icon mr-1"><i class="fe fe-chevrons-right"></i></span>{{ item }}
        </router-link>
    </div>
</div>